<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= title %></title>
</head>

<body>
    <h1>
        <g-emoji class="g-emoji" alias="earth_africa" fallback-src=<%=image1 %></g-emoji>🌍 </g-emoji>
            <%= textMessage %> <g-emoji class="g-emoji" alias="tada" fallback-src=<%= image2 %></g-emoji>🎉 </g-emoji>
            <%= textMessage2 %> <g-emoji class="g-emoji" alias="tada" fallback-src=<%= image2 %></g-emoji>🎉 </g-emoji>
            </h1> </body> </html>